* text=auto

*.bat           text eol=crlf
*.sh            text eol=lf
*.js            text eol=lf

vendor/**       -text

# Documents
*.doc           diff=astextplain
*.DOC           diff=astextplain
*.docx          diff=astextplain
*.DOCX          diff=astextplain
*.pdf           diff=astextplain
*.PDF           diff=astextplain

# Graphics
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.svg           binary
*.exe           binary