html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  color: #444;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #4285F4;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.main {
  min-height: calc(100vh - 124px);
  background-color: white;
}

.main p {
  margin: 0;
  padding-top: 1em;
}

.section {
  padding: 30px 0 45px;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1070px
}

.shorten {
  background-color: #3F51B5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.shorten h1 {
  font-weight: lighter;
  cursor: default;
  user-select: none;
  color: #eee;
}

.input-container form {
  margin: 10px 0 5px
}

.toast-container {
  top: 80px;
  right: 16px
}

.custom-toast {
  font-size: 16px;
  padding: 12px 14px;
  border-radius: 2px;
  min-height: 0
}

.logo {
  display: block;
  margin-top: 17px;
  margin-bottom: 14px;
  font-size: 22px;
}

.logo a {
  color: rgba(0, 0, 0, 0.87);
}
